body {
  font-family: "Playfair Display", serif;
}

.perfil {
  background-image: url("https://cdn.pixabay.com/photo/2019/07/12/18/48/code-4333398_960_720.jpg");
  background-repeat: no-repeat;
}

.navbarColor {
  background-color: #dfae0c;
  color: white;
}

.principal {
  height: 550px;
}
.cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.cuadro2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgCentral {
  width: 210px;
  height: 220px;
}

.proyectos {
  /* display: flex; */
  justify-content: space-around;
}

.secundario {
  /* background-color: rgb(209, 209, 209); */
  /* text-align: center; */
}

@media (max-width: 740px) {
  .imgCentral {
    width: 100%;
  }
}
