body {
  margin: 0;
  overflow-x: hidden;
}

.perfil {
  background-color: #eee;
}

.dark {
  background-color: #222;
}
.navbarColor {
  background-color: #dfae0c;
  color: white;
}

.emergente {
  display: none;
}
.mostrar {
  color: white;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%) !important;
  width: 200%;
  background-color: #080f28;
  overflow: hidden;
  padding: 1rem;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  pointer-events: none;
  max-width: 345px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.principal {
  height: 550px;
}
.cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.cuadro2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgCentral {
  width: 100%;
  height: 100%;
}

.proyectos {
  /* display: flex; */
  justify-content: space-around;
}

.phpLogo {
  background-color: #8993be;
  color: #000000;
}
.html5Logo {
  background-color: #fffefe;
  color: #f06529;
}
.cssLogo {
  background-color: #fffefe;
  color: #2965f1;
}
.jsLogo {
  background-color: black;
  color: #f0db4f;
}
.bootstrapLogo {
  background-color: #fffefe;
  color: #563d7c;
}

.gitLogo {
  color: #f34f29;
}
.bdLogo {
  color: #00758f;
}

@media (max-width: 740px) {
  .imgCentral {
    width: 100%;
  }
  header {
    display: none;
  }
}
